@page "/"

<div style="padding: 1rem 1rem 1rem 1rem;">
    <h2>SpawnDev.BlazorJS</h2>
    <ul>
        <li>.Net: @JS.FrameworkVersion</li>
        <li>SpawnDev.BlazorJS: @JS.InformationalVersion</li>
        <li>Startup Time: @(TimeSpan.FromMilliseconds(JS.ReadyTime).TotalSeconds) seconds</li>
        <li>CrossOriginIsolated: @(JS.CrossOriginIsolated ? "yes" : "no")</li>
        <li>Concurrency: @(JS.Get<Navigator>("navigator").HardwareConcurrency)</li>
        <li>SIMD: @(SIMDSupported ? "supported" : "not supported")</li>
        <li>Vector.IsHardwareAccelerated: @(System.Numerics.Vector.IsHardwareAccelerated ? "yes" : "no")</li>
        <li>Vector&lt;float&gt;.Count: @(System.Numerics.Vector<float>.Count)</li>
        <li>Worker: @(!JS.IsUndefined(nameof(Worker)) ? "supported" : "not supported")</li>
        <li>SharedWorker: @(!JS.IsUndefined(nameof(SharedWorker)) ? "supported" : "not supported")</li>
        <li>SharedArrayBuffer: @(!JS.IsUndefined(nameof(SharedArrayBuffer)) ? "supported" : "not supported")</li>
    </ul>
</div>

<MarkdownBlock URL="https://raw.githubusercontent.com/LostBeard/SpawnDev.BlazorJS/main/README.md" />
@code {

    [Inject]
    BlazorJSRuntime JS { get; set; }

    bool SIMDSupported = false;

    protected override async Task OnInitializedAsync()
    {
        SIMDSupported = await JS.CallAsync<bool>("wasmFeatureDetect.simd");
        await base.OnInitializedAsync();
    }
}
