@page "/faceapi"

<RadzenCard>
    <div style="">
        <button onclick="@(() => _ = RefreshCameraList())">Refresh Camera List</button>
    </div>
    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Camera</RadzenText>
    <RadzenDropDown @bind-Value=@_selectedDevice AllowClear="true" TValue="DeviceInfo" Class="w-100" Data=@_devices Change=@(args => OnDeviceChange(args as DeviceInfo))>
        <Template>
            Video: @((context as DeviceInfo)?.Label)
        </Template>
    </RadzenDropDown>
</RadzenCard>

<div style="">
    <div>
        Faces: @_facesFnd
    </div>
    <div>
        FPS: @_fps
    </div>
    <div>
        Workers: @_openCVService.WorkersRunning
    </div>
    <div style="padding: 4px;">
        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Enable Processing</RadzenText>
        <RadzenSwitch @bind-Value=@_enableProcessing Disabled="@_processingDisabled" />
    </div>
    <div>
        <RadzenCard>
            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Worker Pool @_openCVService.WorkersIdle / @_openCVService.WorkersRunning / @_openCVService.WorkerCountRequest / @_openCVService.MaxWorkerCount (Idle/Running/Requested/Max)</RadzenText>
            <RadzenSlider @bind-Value=@_openCVService.WorkerCountRequest TValue="int" Min="0" Max=@_openCVService.MaxWorkerCount />
        </RadzenCard>
    </div>
    <div style="padding: 4px;">
        <canvas style="zoom: 50%;" @ref="_cameraCanvasProcessedElRef"></canvas>
    </div>
</div>

@code {

}
