<div style="border: 1px solid white;">
    @if (Gamepad != null)
    {
        <div>
            Gamepad: @Gamepad.Index @Gamepad.Connected @Gamepad.Id
        </div>
        @for (var i = 0; i < Gamepad.Axes!.Length; i++)
        {
            var axis = Gamepad.Axes[i];
            <div>
                Axis: @i @axis
            </div>
        }
        @for (var i = 0; i < Gamepad.Buttons!.Length; i++)
        {
            var button = Gamepad.Buttons[i];
            <div>
                Button: @i @button.Pressed @button.Touched @button.Value
            </div>
        }
    }
</div>

@code {
    [Parameter]
    public Gamepad? Gamepad { get; set; }
}
